// default
$default-color: #fff;
$default-color-dark: #ecf5ff;
$default-border-color: #c3c5ca;
$default-border-color-dark: #c6e2ff;
$default-text-color: #333;
$default-text-color-dark: #3e84ee;
$default-focus-shadow: 0 0 0 0.2rem rgba(7, 99, 238, 0.333);
$default-plan-color: #fff;
$default-plan-color-dark: #fff;
$default-plan-border-color: #ecf5ff;
$default-plan-border-color-dark: #c6e2ff;
$default-plan-text-color: #333;
$default-plan-text-color-dark: #3e84ee;
$default-plan-focus-shadow: 0 0 0 0.2rem rgba(7, 99, 238, 0.333);
$default-disabled-color: #fff;
$default-disabled-border-color: #ebeef5;
$default-disabled-text-color: #c0c4cc;

// primary
$primary-color: #3e84ee;
$primary-color-dark: #409eff;
$primary-text-color: #fff;
$primary-text-color-dark: #fff;
$primary-border-color: #3e84ee;
$primary-border-color-dark: #409eff;
$primary-focus-shadow: 0 0 0 0.2rem rgba(7, 99, 238, 0.333);
$primary-plan-color: #ecf5ff;
$primary-plan-color-dark: #3e84ee;
$primary-plan-border-color: #b3d8ff;
$primary-plan-border-color-dark: #3e84ee;
$primary-plan-text-color: #3e84ee;
$primary-plan-text-color-dark: #fff;
$primary-plan-focus-shadow: 0 0 0 0.2rem rgba(7, 99, 238, 0.333);
$primary-disabled-color: #a0cfff;
$primary-disabled-border-color: #a0cfff;
$primary-disabled-text-color: #fff;

$loading-backdrop-color: rgba(255, 255, 255, 0.3);
