@import './config.scss';

// block
@mixin block($block) {
  $currentSelector: $namespace + '-' + $block;

  .#{$currentSelector} {
    @content;
  }
}

// element
@mixin element($element) {
  $currentSelector: '';

  @each $unit in $element {
    $currentSelector: #{$currentSelector + & + $element-separator + $unit + ','};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

// modifier
@mixin modifier($modifier) {
  $currentSelector: '';

  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + & + $modifier-separator + $unit + ','};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}
